body {
  font-family: sans-serif;
  background-color: #eee;
 
  
}

.card {
  background: hsl(0, 0%, 100%);
 margin: 16px auto;
  width: 400px;
  padding: 10px;
}

.title {
  background: #e3f4ff;
}

.content {
  background: #e3f4ff;
  padding: 10px;
}

.button-container {
  text-align: center;
  background: #e3f4ff;
  margin-top: 10px;
  padding: 10px;
    
}

button {
  display:block;
  background: white;
  border: 1px solid #eee;
}