.kale{
    background-color: red;
    font-size: 32px;
    text-align: center;
    font-weight: 700;
}
.com{
    background-color: green;
    font-size: 18px;
}
.ggs{
    background-color: orange;
    font-size: 18px;
}